the RFM view refers to the calculation and representation of three key metrics for each customer:

Recency (R): It measures the time elapsed since the customer's last transaction. It is often calculated as the difference between the most recent transaction date and a reference date (e.g., the current date or the end of the observation period).

Frequency (F): It represents the number of transactions made by the customer over a specific period. In RFM analysis, it is common to count each individual transaction as a separate occurrence, regardless of whether they occurred on the same day.

Monetary Value (M): It indicates the total monetary value or spending of the customer over a specific period. It is typically calculated by summing up the monetary value of each transaction made by the customer.

In [1]:
# import library
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime as dt

#For Data  Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('retail.csv')

In [3]:
df.sample(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
858965,566198,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,2,9.09.2011 13:58,"4,95",18109.0,United Kingdom
414503,528967,22561,WOODEN SCHOOL COLOURING SET,12,26.10.2010 10:14,"1,65",14673.0,United Kingdom
617910,544190,84030E,ENGLISH ROSE HOT WATER BOTTLE,4,16.02.2011 16:56,"4,25",13089.0,United Kingdom
603670,542849,22852,DOG BOWL VINTAGE CREAM,3,1.02.2011 11:35,"4,25",NaN,United Kingdom
366548,524944,22531,MAGIC DRAWING SLATE CIRCUS PARADE,2,1.10.2010 12:24,"0,42",15276.0,United Kingdom

In [4]:
df.shape

(1048575, 8)

In [5]:
#Missing Value
df.isnull().sum()

Invoice             0
StockCode           0
Description      4372
Quantity            0
InvoiceDate         0
Price               0
Customer ID    236682
Country             0
dtype: int64

In [ ]:
#df.groupby("Description").agg({"Quantity": "sum"}).sort_values("Quantity", ascending=False).head()

                                    Quantity
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     107472
WHITE HANGING HEART T-LIGHT HOLDER     92436
ASSORTED COLOUR BIRD ORNAMENT          80608
JUMBO BAG RED RETROSPOT                77641
BROCADE RING PURSE                     70423

In [6]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,1.12.2009 07:45,"6,95",13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,1.12.2009 07:45,"6,75",13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,1.12.2009 07:45,"6,75",13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,1.12.2009 07:45,"2,1",13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.12.2009 07:45,"1,25",13085.0,United Kingdom

In [7]:
df['Price'] = df['Price'].str.replace(',', '.')

# Convert 'A' column from object to float
df['Price'] = df['Price'].astype(float)

In [8]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,1.12.2009 07:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,1.12.2009 07:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,1.12.2009 07:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,1.12.2009 07:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.12.2009 07:45,1.25,13085.0,United Kingdom

In [9]:
df["TotalSum"] = df["Quantity"] * df["Price"]
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalSum
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,1.12.2009 07:45,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,1.12.2009 07:45,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,1.12.2009 07:45,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,1.12.2009 07:45,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.12.2009 07:45,1.25,13085.0,United Kingdom,30.0

In [10]:
df.groupby("Invoice").agg({"TotalSum": "sum"}).head()

         TotalSum
Invoice
489434     505.30
489435     145.80
489436     630.33
489437     310.75
489438    2286.24

In [11]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1048575 non-null  object
 1   StockCode    1048575 non-null  object
 2   Description  1044203 non-null  object
 3   Quantity     1048575 non-null  int64
 4   InvoiceDate  1048575 non-null  object
 5   Price        1048575 non-null  float64
 6   Customer ID  811893 non-null   float64
 7   Country      1048575 non-null  object
 8   TotalSum     1048575 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 72.0+ MB

In [13]:
df.groupby("Invoice").agg({"TotalSum": "sum"}).head()

         TotalSum
Invoice
489434     505.30
489435     145.80
489436     630.33
489437     310.75
489438    2286.24

In [14]:
df.shape

(1048575, 9)

In [15]:
df= df.dropna(subset=['Customer ID'])
# Remove Missing Values
df.dropna(inplace = True)

In [16]:
df.shape

(811893, 9)

In [20]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
TotalSum       0
dtype: int64

In [18]:
df.duplicated().sum()

26294

In [19]:
df = df.drop_duplicates()

In [21]:
df.shape

(785599, 9)

In [22]:
df.duplicated().sum()

0

In [23]:
df.describe()

            Quantity          Price    Customer ID       TotalSum
count  785599.000000  785599.000000  785599.000000  785599.000000
mean       12.611412       3.716362   15313.078667      20.425630
std       143.474332      71.912928    1695.992802     165.709219
min    -74215.000000       0.000000   12346.000000  -77183.600000
25%         2.000000       1.250000   13963.000000       4.350000
50%         5.000000       1.950000   15235.000000      11.800000
75%        12.000000       3.750000   16788.000000      19.500000
max     74215.000000   38970.000000   18287.000000   77183.600000

In [24]:
# Pick value above 0 as negative value will convert the result
df = df[(df['Quantity']>0) & (df['TotalSum']>0)]
df.describe()

            Quantity          Price    Customer ID       TotalSum
count  767369.000000  767369.000000  767369.000000  767369.000000
mean       13.399990       3.226796   15320.342234      22.097454
std       114.173661      29.848227    1695.243586     124.271552
min         1.000000       0.001000   12346.000000       0.001000
25%         2.000000       1.250000   13971.000000       4.950000
50%         6.000000       1.950000   15249.000000      12.500000
75%        12.000000       3.750000   16791.000000      19.800000
max     74215.000000   10953.500000   18287.000000   77183.600000

In [25]:
df.shape

(767369, 9)

In [26]:
# converting Date columne as not in proper format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%d.%m.%Y %H:%M')
snapshot_date = df['InvoiceDate'].max() + dt.timedelta(days=1)

In [27]:
snapshot_date

Timestamp('2011-12-05 13:15:00')

In [28]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'TotalSum'],
      dtype='object')

In [29]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalSum
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [30]:
# Calculate RFM metrics
rfm = df.groupby(['Customer ID']).agg({'InvoiceDate': lambda x : (snapshot_date - x.max()).days,
                                      'Invoice':'count','TotalSum': 'sum'})
#Function Lambdea: it gives the number of days between hypothetical today and the last transaction

#Rename columns
rfm.rename(columns={'InvoiceDate':'Recency','Invoice':'Frequency','TotalSum':'MonetaryValue'}
           ,inplace= True)

#Final RFM values
rfm.head()

             Recency  Frequency  MonetaryValue
Customer ID
12346.0          321         34       77556.46
12347.0           35        211        4696.71
12348.0           71         51        2019.40
12349.0           14        175        4428.69
12350.0          305         17         334.40

## Task 1
The first thing you need to do is to create an RFM view for each customer. What is RFM view?

You will need to compute the following for each customer:

Question 1: The number of times a customer has made transactions. If in a single day a customer has made 3 transactions, count them as 3 separate transactions. This is the frequency in RFM

In [32]:
#Building RFM segments
r_labels =range(4,0,-1)
f_labels=range(1,5)
m_labels=range(1,5)
r_quartiles = pd.qcut(rfm['Recency'], q=4, labels = r_labels)
f_quartiles = pd.qcut(rfm['Frequency'],q=4, labels = f_labels)
m_quartiles = pd.qcut(rfm['MonetaryValue'],q=4,labels = m_labels)
rfm = rfm.assign(R=r_quartiles,F=f_quartiles,M=m_quartiles)

# Build RFM Segment and RFM Score
def add_rfm(x) : return str(x['R']) + str(x['F']) + str(x['M'])
rfm['RFM_Segment'] = rfm.apply(add_rfm,axis=1 )
rfm['RFM_Score'] = rfm[['R','F','M']].sum(axis=1)

rfm.head()

             Recency  Frequency  MonetaryValue  R  F  M RFM_Segment  RFM_Score
Customer ID
12346.0          321         34       77556.46  2  2  4   2.02.04.0          8
12347.0           35        211        4696.71  3  4  4   3.04.04.0         11
12348.0           71         51        2019.40  3  2  3   3.02.03.0          8
12349.0           14        175        4428.69  4  4  4   4.04.04.0         12
12350.0          305         17         334.40  2  1  1   2.01.01.0          4

In [33]:
rfm["RecencyScore"] = pd.qcut(rfm["Recency"], 5, labels = [5, 4 , 3, 2, 1])


rfm["FrequencyScore"]= pd.qcut(rfm["Frequency"].rank(method="first"),5, labels=[1,2,3,4,5])


rfm["MonetaryScore"] = pd.qcut(rfm['MonetaryValue'], 5, labels = [1, 2, 3, 4, 5])


rfm.head()

,Recency,Frequency,MonetaryValue,R,F,M,RFM_Segment,RFM_Score,RecencyScore,FrequencyScore,MonetaryScore
Customer ID,,,,,,,,,,,
12346.0,321,34,77556.46,2,2,4,2.02.04.0,8,2,2,5
12347.0,35,211,4696.71,3,4,4,3.04.04.0,11,4,5,5
12348.0,71,51,2019.40,3,2,3,3.02.03.0,8,3,3,4
12349.0,14,175,4428.69,4,4,4,4.04.04.0,12,5,5,5
12350.0,305,17,334.40,2,1,1,2.01.01.0,4,2,2,2

## Task 1:
Question 2. The total and average revenue per customer. To arrive at revenue, you will need to multiply the Quantity and Price columns. You will also need to clean the Price column for any data quality issues. This will become the monetary term in RFM

In [34]:
# Calculate the total and average revenue per customer by grouping by customer ID and aggregating the total sum column
revenue = df.groupby("Customer ID").agg({"TotalSum": ["sum", "mean"]})

# Rename the columns
revenue.columns = ["TotalRevenue", "AverageRevenue"]

# Print the first 5 rows of the revenue dataframe
print(revenue.head())

             TotalRevenue  AverageRevenue
Customer ID
12346.0          77556.46     2281.072353
12347.0           4696.71       22.259289
12348.0           2019.40       39.596078
12349.0           4428.69       25.306800
12350.0            334.40       19.670588

## Task 1
question 3 - Lastly you will need to find the recency of the last purchase. This can be computed by finding the number of days that have elapsed from the last purchase each customer has made. You can use a base date of 01/01/2012 to compute recency. Find out the number of days elapsed from 01/01/2012 for each customer's most recent purchase.

In [35]:
base_date = pd.Timestamp("2012-01-01")

# Calculate the recency for each customer by grouping by customer ID and finding the maximum invoice date
recency = df.groupby("Customer ID").agg({"InvoiceDate": "max"})

# Subtract the invoice date from the base date to get the number of days elapsed
recency["Recency"] = (base_date - recency["InvoiceDate"]).dt.days

# Drop the invoice date column
recency.drop(columns=["InvoiceDate"], inplace=True)

# Print the first 5 rows of the recency dataframe
print(recency.head())

             Recency
Customer ID
12346.0          347
12347.0           61
12348.0           97
12349.0           40
12350.0          332

In [36]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalSum
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

## Task 2
Once you have the RFM table, you will need to analyze this table further.

One of the things you can analyze is to find the vintage of customers. You can find out for which ranges of recency, is the company realizing around 75% of the total revenue.

In [37]:
# Calculate the recency for each customer by finding the number of days elapsed from 01/01/2012 for each customer's most recent purchase
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
base_date = pd.Timestamp("2012-01-01")
df["Recency"] = (base_date - df["InvoiceDate"]).dt.days

In [38]:

# Join the total revenue and recency columns by customer ID, and sort the dataframe by recency in ascending order
rf = df.groupby("Customer ID").agg({"TotalSum": "sum", "Recency": "min"}).reset_index()
rf = rf.sort_values(by="Recency")

In [39]:

# Calculate the cumulative percentage of revenue for each customer by dividing the cumulative sum of revenue by the total revenue, and multiplying by 100
rf["CumulativeRevenue"] = rf["TotalSum"].cumsum()
rf["CumulativePercentage"] = rf["CumulativeRevenue"] / rf["TotalSum"].sum() * 100

In [40]:

# Find the range of recency values where the cumulative percentage of revenue is around 75%
rf_75 = rf[rf["CumulativePercentage"] >= 75]
recency_range = rf_75["Recency"].min(), rf_75["Recency"].max()
print(recency_range)

(89, 760)

## Task 3
Once you have identified the customers by their recency and how much revenue these customers bring, the next task is to find out within the subset of data identified above, for what ranges of frequency is ~65% of the revenue in the subset realized.

In [41]:
# Filter the data to include only customers who have purchased within 62 days from 01/01/2012
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
base_date = pd.Timestamp("2012-01-01")
df["Recency"] = (base_date - df["InvoiceDate"]).dt.days
df = df[df["Recency"] <= 62]

In [42]:
# Calculate the frequency for each customer by grouping by customer ID and counting the number of invoices
df["Frequency"] = df.groupby("Customer ID")["Invoice"].transform("count")

In [43]:
# Join the frequency and total revenue columns by customer ID, and sort the dataframe by frequency in descending order
rf = df.groupby("Customer ID").agg({"Frequency": "max", "TotalSum": "sum"}).reset_index()
rf = rf.sort_values(by="Frequency", ascending=False)

In [44]:
# Calculate the cumulative percentage of revenue for each customer by dividing the cumulative sum of revenue by the total revenue, and multiplying by 100
rf["CumulativeRevenue"] = rf["TotalSum"].cumsum()
rf["CumulativePercentage"] = rf["CumulativeRevenue"] / rf["TotalSum"].sum() * 100

In [45]:
# Find the range of frequency values where the cumulative percentage of revenue is around 65%
rf_65 = rf[rf["CumulativePercentage"] >= 65]
frequency_range = rf_65["Frequency"].min(), rf_65["Frequency"].max()
print(frequency_range)

(1, 30)

Task 1

In [50]:
import datetime as dt
# Set the base date
base_date = datetime(2012, 1, 1)

# Calculate the recency for each customer
table['Recency'] = (base_date - table['InvoiceDate']).dt.days

# Display the resulting table
print(table[['Customer ID', 'Recency']])

TypeError: 'module' object is not callable

In [51]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], dayfirst=True)

# set a base date for calculating recency
base_date = dt.date(2012, 1, 1)

# group by Customer ID and calculate recency, frequency, and monetary values
rfm_df = df.groupby('Customer ID').agg({
    'InvoiceDate': lambda x: (base_date - x.max()).days, # recency
    'Invoice': 'count', # frequency
    'Price': 'sum' # monetary
})

# rename the columns
rfm_df.rename(columns={
    'InvoiceDate': 'Recency',
    'Invoice': 'Frequency',
    'Price': 'Monetary'
}, inplace=True)

# print the first 5 rows of the summary dataframe
print(rfm_df.head())

C:\Users\Aky\AppData\Local\Temp\ipykernel_21852\1493360655.py:7: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  rfm_df = df.groupby('Customer ID').agg({

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'Timestamp'

In [49]:
# Convert 'InvoiceDate' column to datetime format
table['InvoiceDate'] = pd.to_datetime(table['InvoiceDate'], format='%d.%m.%Y %H:%M')

# Set the base date
base_date = datetime(2012, 1, 1)

# Convert base_date to a pandas Timestamp object
base_date = pd.Timestamp(base_date)

# Calculate the recency for each customer
table['Recency'] = (base_date - table['InvoiceDate']).dt.days

# Display the resulting table
print(table[['Customer ID', 'Recency']])

NameError: name 'table' is not defined